* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: rgb(252, 235, 235);
}

.home, .about, .contact {
  padding: 20px;
  color: rgb(88, 39, 72);
}
.home h2, .about h4 {
  padding: 10px;
}
.contact h4 {
  padding: 0;
}
.home p {
  padding: 10px;
}
.about div {
  font-size: 40px;
  text-align: center;
}
.contact p {
  padding-top: 20px;
}
.contact ul {
  list-style: none;
  padding-top: 20px;
}